<header>
  <div class="header-container container">
    <div class="logo">
      <a routerLink="/" class="">
        <img src="https://res.cloudinary.com/dojq1nxqw/image/upload/v1745414647/logo_yuuamh.jpg"
          alt="Sports Channels Logo" style="border-radius: 40%;">
        <!-- <span>7Ps Store </span> -->
      </a>
    </div>

    <button class="mobile-menu-btn" (click)="toggleMobileMenu()">
      <i class="fas fa-bars"></i>
    </button>

    <nav class="nav-links" [class.show]="mobileMenuOpen">
      <a routerLink="/channels" routerLinkActive="active" (click)="mobileMenuOpen = false">
        <i class="fas fa-satellite-dish"></i>
        القنوات
      </a>
      <a routerLink="/matches" routerLinkActive="active" (click)="mobileMenuOpen = false" *ngIf="isLoggedIn">
        <i class="fas fa-futbol"></i>
        المباريات
      </a>
      <a routerLink="/login" routerLinkActive="active" (click)="mobileMenuOpen = false" *ngIf="!isLoggedIn">
        <i class="fas fa-sign-in-alt text-white"></i>
        تسجيل الدخول
      </a>
      <a *ngIf="isLoggedIn" (click)="logout()">
        <i class="fas fa-sign-out-alt" style="color: white;"></i>
        تسجيل الخروج
      </a>
      <a routerLink="/admin" routerLinkActive="active" (click)="mobileMenuOpen = false" *ngIf="isAdmin">
        <i class="fas fa-cog"></i>
        لوحة التحكم
      </a>
    </nav>
  </div>
</header>