<div class="container text-center  align-items-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <img src="https://res.cloudinary.com/dojq1nxqw/image/upload/v1743790865/error_fnfso6.png" alt="404 Error"
        class="img-fluid w-50 h-80" />
      <h1 class="teal-green">الصفحة غير موجودة</h1>
      <p class="lead"> نأسف لكن الصفحة التي تبحث عنها غير موجودة</p>
      <a routerLink="/" class="btn bg-main-color text-white">الرجوع للصفحة الرئيسية</a>
    </div>
  </div>
</div>