<!--website info -->
<div class="container-info">
  <div class="header">
    <div class="logo">⚽</div>
    <h1>جدول مواعيد المباريات</h1>
  </div>

  <div class="subtitle">
    <p>
      <i>🕒</i>
      <strong>جميع مواعيد المباريات بتوقيت مكة المكرمة</strong>

    </p>
    <p>
      <i>📺</i>
      <strong>اضغط علي القناة لمعرفة جميع الترددات المتاحة</strong>
    </p>
  </div>

  <div style="text-align: center;">
    <a [routerLink]="['/channels']" class="channel-btn">
      <span class="icon">📺</span>
      اضغط هنا لمعرفة جميع الترددات المتاحة
    </a>
  </div>
</div>